.hero-image {
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("./images/gtr-paul-ricard.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: white;
    filter: drop-shadow(4px 0px 10px black);
    text-align: center;
}